body {
    overflow:hidden;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 100%;
	display: inline;
}

.nav-tabs a {
   height: 42px;  
}

.tab-pane {
	height: 258px;
	overflow-y: scroll;
}

.btn {
	padding-left: 12px;
	padding-right: 12px;
}

input[type="range"] {
	display: inline;
}